@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "../css/nullstyle";
@import "../css/root";

@import "../css/style_header";
@import "../css/style";
@import "../css/style_footer";

/*-------- index Start -------*/

// Variables


/*-------- Home Start -------*/
.home {
  margin: 150px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .home__info {
    flex: 0 0 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .home__title {
    font-family: TitilliumWeb-Bold;
    font-size: 48px;
    color: #070707;
    margin-bottom: 30px;
  }

  .home__text {
    font-family: TitilliumWeb-SemiBold;
    font-size: 18px;
    color: #070707;
    line-height: 24px;
  }

  .home__background {
    flex: 0 0 60%;
  }

  .home__photo {
    pointer-events: none;
    width: 100%;
    height: auto;
    position: relative;
    right: 10px;
    bottom: 10px;
  }

  .home__photo-background {
    background: url("../img/index/home/home_photo_background.png");
    width: 100%;
  }

  @media (max-width: 1199px) {
    padding-left: 20px;
  }

}

.home__switch-lang {
  display: flex;
  position: relative;
  top: 12px;
  flex: 0 0 auto;
  align-items: flex-start;

  .menu__body & {
    display: none;

    &._active {
      display: flex;
      justify-content: flex-end;
      top: -30px;
    }
  }


  @media (max-width: 767px) {
    & {
      display: none;
    }
  }

  .home__switch-title {
    transform: rotate(0.75turn);

    & span {
      font-size: inherit;
      width: 100%;
    }

    & > a {
      font-family: TitilliumWeb-SemiBold;
      font-size: 16px;
      color: #070707;
      text-transform: uppercase;

      &:hover {
        text-decoration-line: underline;
      }

      .menu__body & {
        font-size: 30px;
      }
    }
  }
}


/*-------- Home End -------*/

/*-------- About Me Start -------*/
.about-me {
  margin-bottom: 50px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  position: absolute;
  left: 0;
  width: 100%;

  .about-me__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 400px;
    @media (max-width: 575px) {
      padding: 0 20px;
    }


    @media (max-width: 767px) {
      padding: 0 100px;
    }

    @media (max-width: 991px) {
      padding: 0 200px;
    }

    @media (max-width: 1199px) {
      padding: 0 300px;
    }
  }
}


.about-me__title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  color: #070707;
  text-align: center;
  margin-bottom: 18px;
}

.about-me__text {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  color: #070707;
  text-align: center;
  margin-bottom: 50px;
}

.about-me__text:nth-last-child(1) {
  margin-bottom: 0;
}

/*-------- About Me End -------*/

/*-------- index End -------*/
