@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "../css/nullstyle";
@import "../css/root";

@import "../css/style_header";
@import "../css/style";
@import "../css/style_footer";

/*-------- index Start -------*/

// Variables
/*-------- Header Start -------*/
.menu__body {
  .menu__link {
    position: relative;
    transition: .3s ease-out .1s;

    &::before {
      height: 2px;
      width: 100%;
      background: #828282;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      visibility: hidden;
      transition: .3s;

    }

    &::after {
      height: 2px;
      width: 100%;
      background: #828282;
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      visibility: hidden;
      transition: .3s;
    }

    &:hover,
    &:focus {
      color: #000000;

      &:active {
        color: #828282;

      }

      &::before {
        visibility: visible;
        top: 100%;
        background: #000000;

      }

      &::after {
        visibility: visible;
        top: 0;
        background: #000000;
      }
    }
  }
}

/*-------- Header End -------*/


/*-------- Home Start -------*/
.home {

  .home__position {
    margin: 170px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .home__info {
    flex: 0 0 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 767px) {
      flex: 0 0 100%;
      align-items: unset;
    }
  }

  .home__title {

    font-family: TitilliumWeb-Bold;
    font-size: 48px;
    color: #070707;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      margin-top: 0;
    }
  }

  .home__text {
    font-family: TitilliumWeb-SemiBold;
    font-size: 18px;
    color: #070707;
    line-height: 24px;
    @media (max-width: 767px) {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px;
    }
  }

  .home__background {
    flex: 0 0 60%;
    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
  }

  .home__photo {
    pointer-events: none;
    width: 100%;
    height: auto;
    position: relative;
    right: 10px;
    bottom: 10px;
    @media (max-width: 767px) {
      position: unset;
    }
  }

  .home__photo-background {
    background-image: url("../img/index/home/home_photo_background_desktop.png");
    width: 100%;
  }

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 120px 0 50px 0;
  }

  @media (max-width: 1199px) {
    padding-left: 20px;
  }

}

.home__switch-lang {
  display: flex;
  position: relative;
  top: 12px;
  flex: 0 0 auto;
  align-items: flex-start;

  .menu__body & {
    display: none;

    &._active {
      display: flex;
      justify-content: flex-end;
      top: -30px;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }


  @media (max-width: 767px) {
    & {
      display: none;
    }
  }

  .home__switch-title {
    transform: rotate(0.75turn);
    @media (max-width: 767px) {
      position: relative;
      left: 40px;
    }

    & span {
      font-size: inherit;
      width: 100%;
    }

    & > a {
      font-family: TitilliumWeb-SemiBold;
      font-size: 16px;
      color: #070707;
      text-transform: uppercase;

      &:hover {
        text-decoration-line: underline;
      }

      .menu__body & {
        font-size: 30px;
      }
    }
  }
}


/*-------- Home End -------*/

/*-------- About Me Start -------*/
.about-me {
  margin-bottom: 50px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 50px 0;

  .about-me__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 400px;
    @media (max-width: 575px) {
      padding: 0 20px;
    }


    @media (max-width: 767px) {
      padding: 0 100px;
    }

    @media (max-width: 991px) {
      padding: 0 200px;
    }

    @media (max-width: 1199px) {
      padding: 0 300px;
    }
  }
}


.about-me__title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  color: #070707;
  text-align: center;
  margin-bottom: 18px;
}

.about-me__text {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  color: #070707;
  text-align: center;
  margin-bottom: 50px;
}

.about-me__text:nth-last-child(1) {
  margin-bottom: 0;
}

/*-------- About Me End -------*/

/*-------- Skills Start -------*/
.skills {
  .skills__position {
    margin: 100px 0;
    padding: 0 20px;
  }

  .skills__title {
    font-family: TitilliumWeb-Bold;
    font-size: 34px;
    text-align: center;
    color: #070707;
    margin-bottom: 70px;
  }

  .skills__subtitle {
    font-family: TitilliumWeb-SemiBold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #070707;
    margin-bottom: 80px;
  }

  .skills__program-language {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      justify-content: center;
    }

    @media (max-width: 991px) {
      justify-content: space-evenly;
    }

    .skills__info-item {
      display: flex;
      flex: 0 0 25%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      @media (max-width: 767px) {
        flex: 0 0 100%;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }

      @media (max-width: 991px) {
        flex: 0 0 33%;
      }


      .skills__photo-item {
        margin-bottom: 25px;
      }

      .skills__title-item {
        font-family: TitilliumWeb-Bold;
        font-size: 14px;
        line-height: 21px;
        color: #828282;
        margin-bottom: 30px;
      }
    }
  }


}

/*-------- Skills End -------*/
/*-------- Portfolio Start -------*/
.portfolio {
  background-color: #f6f6f6;

  .portfolio__position {
    padding: 100px 0;
    @media (max-width: 991px) {
      padding: 100px 20px;

    }
  }

  .portfolio__title {
    font-family: TitilliumWeb-Bold;
    font-size: 34px;
    color: #070707;
    margin-bottom: 47px;
    text-align: center;
  }

  .portfolio__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    &:hover {
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    .portfolio__link-photo {
      margin-bottom: 45px;

      &:hover {
        overflow: hidden;
        transition: transform 3s ease 0s;
      }

    }

    .portfolio__photo-item {
      width: 100%;

      &:hover {
        transform: scale(1.1);
      }
    }

    .portfolio__link-item {
      font-family: TitilliumWeb-SemiBold;
      font-size: 18px;
      line-height: 27px;
      color: #070707;
      margin-bottom: 47px;
      text-decoration-line: underline;

      &:hover {
        text-decoration-line: overline;
      }
    }
  }
}

/*-------- Portfolio End -------*/
/*-------- Contacts Start -------*/
.contacts {
  padding: 0 200px;
  @media (max-width: 767px) {
    padding: 0 20px;
  }

  @media (max-width: 991px) {
    padding: 0 100px;
  }

  .contacts__position {
    margin: 100px 0;
  }

  .contacts__title {
    font-family: TitilliumWeb-Bold;
    font-size: 34px;
    text-align: center;
    color: #070707;
    margin-bottom: 20px;
  }

  .contacts__subtitle {
    font-family: TitilliumWeb-SemiBold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #070707;
    margin-bottom: 50px;
  }

  .contacts__form-action {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
            "my-input-name my-input-mail"
            "my-input-message my-input-message"
            "my-input-button my-input-button";
    justify-items: center;

    @media (max-width: 991px) {
      grid-template-areas:
            "my-input-name my-input-name"
            "my-input-mail my-input-mail"
            "my-input-message my-input-message"
            "my-input-button my-input-button";

    }

    .contacts__name {
      grid-area: my-input-name;
      width: 100%;

      & label {
        display: block;
        font-family: TitilliumWeb-Bold;
        font-size: 20px;
        text-align: center;
        color: #070707;
        margin-bottom: 5px;
      }

      & input {
        background-color: #070707;
        color: #ffffff;
        font-family: TitilliumWeb-SemiBold;
        font-size: 18px;
        padding: 5px 3px;
        border-radius: 5px;
        width: 100%;

        &::selection {
          background-color: #f6f6f6;
          color: #070707;
        }

        &::placeholder {
          font-family: TitilliumWeb-SemiBold;
          font-size: 18px;
          color: #828282;
          padding: 5px 3px;
        }
      }
    }

    .contacts__mail {
      grid-area: my-input-mail;
      width: 100%;

      & label {
        display: block;
        font-family: TitilliumWeb-Bold;
        font-size: 20px;
        text-align: center;
        color: #070707;
        margin-bottom: 5px;
      }

      & input {
        background-color: #070707;
        color: #ffffff;
        font-family: TitilliumWeb-SemiBold;
        font-size: 18px;
        padding: 5px 3px;
        border-radius: 5px;
        width: 100%;

        &::selection {
          background-color: #f6f6f6;
          color: #070707;
        }

        &::placeholder {
          font-family: TitilliumWeb-SemiBold;
          font-size: 18px;
          color: #828282;
          padding: 5px 3px;
        }

      }
    }

    .contacts__message {
      grid-area: my-input-message;
      width: 100%;

      & label {
        display: block;
        font-family: TitilliumWeb-Bold;
        font-size: 20px;
        text-align: center;
        color: #070707;
        margin-bottom: 5px;
      }

      & > textarea {
        background-color: #070707;
        color: #ffffff;
        font-family: TitilliumWeb-SemiBold;
        font-size: 18px;
        padding: 5px 3px;
        border-radius: 5px;
        width: 100%;
        resize: vertical;
        max-height: 300px;
        min-height: 100px;

        &::selection {
          background-color: #f6f6f6;
          color: #070707;
        }

        &::placeholder {
          font-family: TitilliumWeb-SemiBold;
          font-size: 18px;
          color: #828282;
          padding: 5px 3px;
        }
      }
    }

    .contacts__button {
      grid-area: my-input-button;
      width: 180px;
      height: 42px;
      background-color: #070707;
      color: #ffffff;
      font-family: TitilliumWeb-SemiBold;
      font-size: 18px;
      padding: 5px 10px;
      border-radius: 20px;

      &:hover {
        color: #828282;
      }
    }
  }


}

/*-------- Contacts End -------*/

/*-------- index End -------*/
