@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "../css/nullstyle";
@import "../css/root";

@import "../css/style_header";
@import "../css/style";
@import "../css/style_footer";

/*-------- index Start -------*/

// Variables
/*-------- Header Start -------*/
.menu__body {
  .menu__link {
    position: relative;
    transition: .3s ease-out .1s;

    &::before {
      height: 2px;
      width: 100%;
      background: #828282;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      visibility: hidden;
      transition: .3s;

    }

    &::after {
      height: 2px;
      width: 100%;
      background: #828282;
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      visibility: hidden;
      transition: .3s;
    }

    &:hover,
    &:focus {
      color: #000000;

      &:active {
        color: #828282;

      }

      &::before {
        visibility: visible;
        top: 100%;
        background: #000000;

      }

      &::after {
        visibility: visible;
        top: 0;
        background: #000000;
      }
    }
  }
}

/*-------- Header End -------*/


/*-------- Home Start -------*/
.home {

  .home__position {
    margin: 170px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .home__info {
    flex: 0 0 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 767px) {
      flex: 0 0 100%;
      align-items: unset;
    }
  }

  .home__title {

    font-family: TitilliumWeb-Bold;
    font-size: 48px;
    color: #070707;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      margin-top: 0;
    }
  }

  .home__text {
    font-family: TitilliumWeb-SemiBold;
    font-size: 18px;
    color: #070707;
    line-height: 24px;
    @media (max-width: 767px) {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px;
    }
  }

  .home__background {
    flex: 0 0 60%;

    &:hover,
    &:focus {
      -webkit-box-shadow: 15px 15px 15px 2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 15px 15px 15px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 15px 15px 15px 2px rgba(0, 0, 0, 0.5);
      @media (max-width: 767px) {
        -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
      }
    }

    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
  }

  .home__photo {
    pointer-events: none;
    width: 100%;
    height: auto;
  }

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 120px 0 50px 0;
  }

  @media (max-width: 1199px) {
    padding-left: 20px;
  }

}

.home__switch-lang {
  display: flex;
  position: relative;
  top: 12px;
  flex: 0 0 auto;
  align-items: flex-start;

  .menu__body & {
    display: none;

    &._active {
      display: flex;
      justify-content: flex-end;
      top: -30px;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }


  @media (max-width: 767px) {
    & {
      display: none;
    }
  }

  .home__switch-title {
    transform: rotate(0.75turn);
    @media (max-width: 767px) {
      position: relative;
      left: 40px;
    }

    & span {
      font-size: inherit;
      width: 100%;
    }

    & > a {
      font-family: TitilliumWeb-SemiBold;
      font-size: 16px;
      color: #070707;
      text-transform: uppercase;

      &:hover,
      &:focus {
        text-decoration-line: underline;
      }

      .menu__body & {
        font-size: 30px;
      }
    }
  }
}


/*-------- Home End -------*/

/*-------- About Me Start -------*/
.about-me {
  margin-bottom: 50px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 50px 0;

  .about-me__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 400px;
    @media (max-width: 575px) {
      padding: 0 20px;
    }


    @media (max-width: 767px) {
      padding: 0 100px;
    }

    @media (max-width: 991px) {
      padding: 0 200px;
    }

    @media (max-width: 1199px) {
      padding: 0 300px;
    }
  }
}


.about-me__title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  color: #070707;
  text-align: center;
  margin-bottom: 18px;
}

.about-me__text {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  color: #070707;
  text-align: center;
  margin-bottom: 50px;
}

.about-me__text:nth-last-child(1) {
  margin-bottom: 0;
}

/*-------- About Me End -------*/

/*-------- Skills Start -------*/
.skills {
  .skills__position {
    margin: 100px 0;
    padding: 0 20px;
  }

  .skills__title {
    font-family: TitilliumWeb-Bold;
    font-size: 34px;
    text-align: center;
    color: #070707;
    margin-bottom: 70px;
  }

  .skills__subtitle {
    font-family: TitilliumWeb-SemiBold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #070707;
    margin-bottom: 80px;
  }

  .skills__program-language {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      justify-content: center;
    }

    @media (max-width: 991px) {
      justify-content: space-evenly;
    }

    .skills__info-item {
      display: flex;
      flex: 0 0 25%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      @media (max-width: 767px) {
        flex: 0 0 100%;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }

      @media (max-width: 991px) {
        flex: 0 0 33%;
      }


      .skills__photo-item {
        margin-bottom: 25px;
      }

      .skills__title-item {
        font-family: TitilliumWeb-Bold;
        font-size: 14px;
        line-height: 21px;
        color: #828282;
        margin-bottom: 30px;
      }
    }
  }


}

/*-------- Skills End -------*/
/*-------- Portfolio Start -------*/
.portfolio {
  background-color: #f6f6f6;

  .portfolio__position {
    padding: 100px 0;
    @media (max-width: 991px) {
      padding: 100px 20px;

    }
  }

  .portfolio__title {
    font-family: TitilliumWeb-Bold;
    font-size: 34px;
    color: #070707;
    margin-bottom: 47px;
    text-align: center;
  }

  .portfolio__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    &:hover,
    &:focus {
      -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }

    .portfolio__link-photo {
      margin-bottom: 45px;

    }

    .portfolio__photo-item {
      width: 100%;
    }


    .portfolio__link {
      display: flex;
      justify-content: center;

      .portfolio__link-item {
        text-align: center;
        font-family: TitilliumWeb-SemiBold;
        font-size: 18px;
        line-height: 27px;
        color: #070707;
        margin-bottom: 47px;
        display: block;
        padding: 1rem 1.25rem;
        text-decoration: none;
        position: relative;
        transition: all .3s cubic-bezier(.2, 0, 0, 1);
        z-index: 1;

        &:after {
          content: '';
          display: block;
          height: 2px;
          position: absolute;
          bottom: 0;
          right: 1.25rem;
          left: 1.25rem;
          background-color: #070707;
          transition: all .3s cubic-bezier(.2, 0, 0, 1);
          transform-origin: bottom center;
          z-index: -1;
        }

        &:hover,
        &:focus {
          color: #ffffff;

          &:after {
            right: 0;
            left: 0;
            height: 100%;
          }
        }
      }
    }
  }
}

/*With Simple Caption*/
.portfolio__link-photo {
  position: relative;
}

.portfolio__link-photo .portfolio__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: all 0.8s ease;
}

.portfolio__link-photo .portfolio__text h2 {
  margin: 0;
  font-family: TitilliumWeb-SemiBold;
  font-size: 44px;
  color: #070707;
  text-align: center;
  line-height: 47px;
  @media (max-width: 575px) {
    font-size: 30px;
  }
}

.portfolio__link-photo:hover .portfolio__text,
.portfolio__link-photo:focus .portfolio__text {
  opacity: 1;
}

.portfolio__link-photo:hover img,
.portfolio__link-photo:focus img {
  filter: blur(5px)
}

/*Zoom In*/
.portfolio__link-photo figure {
  overflow: hidden;
}

.portfolio__link-photo img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.portfolio__link-photo:hover img,
.portfolio__link-photo:focus img {

  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


/*-------- Portfolio End -------*/
/*-------- Contacts Start -------*/
.contacts {
  padding: 0 200px;
  @media (max-width: 767px) {
    padding: 0 20px;
  }

  @media (max-width: 991px) {
    padding: 0 100px;
  }

  .contacts__position {
    margin: 100px 0px 0 0;
  }

  .contacts__title {
    font-family: TitilliumWeb-Bold;
    font-size: 34px;
    text-align: center;
    color: #070707;
    margin-bottom: 20px;
  }

  .contacts__subtitle {
    font-family: TitilliumWeb-SemiBold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #070707;
    margin-bottom: 50px;
  }

  .contacts__form-action {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
            "my-input-name my-input-mail"
            "my-input-message my-input-message"
            "my-input-button my-input-button";
    justify-items: center;

    @media (max-width: 991px) {
      grid-template-areas:
            "my-input-name my-input-name"
            "my-input-mail my-input-mail"
            "my-input-message my-input-message"
            "my-input-button my-input-button";

    }

    .contacts__name {
      grid-area: my-input-name;
      width: 100%;

      & label {
        display: block;
        font-family: TitilliumWeb-Bold;
        font-size: 22px;
        text-align: left;
        color: #070707;
        margin-bottom: 10px;
        @media (max-width: 991px) {
          text-align: center;
        }
      }

      & input {
        background-color: #070707;
        color: #ffffff;
        font-family: TitilliumWeb-SemiBold;
        font-size: 18px;
        padding: 5px 3px;
        border-radius: 5px;
        width: 100%;

        &:hover,
        &:focus {
          -webkit-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
        }

        &::selection {
          background-color: #f6f6f6;
          color: #070707;
        }

        &::placeholder {
          font-family: TitilliumWeb-SemiBoldItalic;
          font-size: 18px;
          color: #828282;
          padding: 5px 3px;
        }
      }
    }

    .contacts__mail {
      grid-area: my-input-mail;
      width: 100%;


      & label {
        display: block;
        font-family: TitilliumWeb-Bold;
        font-size: 22px;
        text-align: left;
        color: #070707;
        margin-bottom: 10px;
        @media (max-width: 991px) {
          text-align: center;
        }
      }

      & input {
        background-color: #070707;
        color: #ffffff;
        font-family: TitilliumWeb-SemiBold;
        font-size: 18px;
        padding: 5px 3px;
        border-radius: 5px;
        width: 100%;

        &:hover,
        &:focus {
          -webkit-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
        }

        &::selection {
          background-color: #f6f6f6;
          color: #070707;
        }

        &::placeholder {
          font-family: TitilliumWeb-SemiBoldItalic;
          font-size: 18px;
          color: #828282;
          padding: 5px 3px;
        }

      }
    }

    .contacts__message {
      grid-area: my-input-message;
      width: 100%;


      & label {
        display: block;
        font-family: TitilliumWeb-Bold;
        font-size: 22px;
        text-align: left;
        color: #070707;
        margin-bottom: 10px;
        @media (max-width: 991px) {
          text-align: center;
        }
      }

      & > textarea {
        background-color: #070707;
        color: #ffffff;
        font-family: TitilliumWeb-SemiBold;
        font-size: 18px;
        padding: 5px 3px;
        border-radius: 5px;
        width: 100%;
        resize: vertical;
        max-height: 400px;
        min-height: 100px;

        &:hover,
        &:focus {
          -webkit-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
        }


        &::selection {
          background-color: #f6f6f6;
          color: #070707;
        }

        &::placeholder {
          font-family: TitilliumWeb-SemiBoldItalic;
          font-size: 18px;
          color: #828282;
          padding: 5px 3px;
        }
      }
    }

    .contacts__button {
      grid-area: my-input-button;
      width: 180px;
      height: 42px;
      background-color: #070707;
      color: #ffffff;
      font-family: TitilliumWeb-SemiBold;
      font-size: 18px;
      padding: 5px 10px;
      border-radius: 20px;

      &:hover {
        color: #828282;
      }
    }
  }


}

/*-------- Contacts End -------*/

/*-------- index End -------*/
