/*-------- All -------*/
::selection {
    background-color: #41906d;
    color: #fff;
}

._container {
    max-width: 1408px;
    margin: 0 auto;
}

/*-------- All -------*/

/*-------- Block Start -------*/

/*-------- Block End -------*/

