/*-------- Footer Start -------*/

.footer {
    background-color: var(--footer-bg-color);
    padding: 8em 10em;
}

.footer__container {
    max-width: 1408px;
    margin: 0 auto;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.footer__newsletter {
    grid-area: my-newsletter;
}

.footer__license {
    grid-area: my-license;
}

.footer__security-police {
    grid-area: my-security-police;
}

/*Шаблон вигляду футера*/
.footer__container {
    grid-template-areas:
            "my-newsletter my-license"
            "my-security-police my-security-police";
}

.newsletter__form {
    position: relative;
}

.newsletter__title {
    font-family: "Open Sans Semibold";
    color: var(--footer-bg-newsletter-color);
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
}

.newsletter__input {
    width: 100%;
    background-color: var(--footer-bg-color);
    border-bottom: 2px solid var(--footer-bg-newsletter-color);
    padding: 3px;
    color: var(--footer-bg-newsletter-color);
    font-family: OpenSans-LightItalic;
    font-size: 16px;
}

.newsletter__input:focus,
.newsletter__input:hover {
    background-color: #808e88;
}

.newsletter__input::placeholder {
    color: var(--footer-bg-newsletter-color);
    font-family: OpenSans-LightItalic;
    font-size: 16px;
}

.newsletter__button {
    position: absolute;
    display: inline-block;
    right: 2px;
    top: 43px;
    background-color: unset;
}

.newsletter-sub-text {
    font-family: OpenSans-Light;
    font-size: 16px;
    margin-top: 10px;
    color: var(--footer-newsletter-sub-text-color);
    line-height: 20px;
}

.footer__license-text {
    display: flex;
    margin-bottom: 30px;
}

.footer__license-item-text {
    text-align: center;
    flex: 0 0 33.333%;
}

.footer__license-item-text > a {
    color: var(--footer-bg-newsletter-color);
    font-family: DINPro-Light;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
}

.footer__license-item-text > a:hover {
    text-decoration-line: underline;
}

.footer__license-icon {
    display: flex;
    align-items: center;
}

.footer__license-item {
    flex: 0 0 25%;
    text-align: center;
}

.footer__security-police {
    font-family: OpenSans-Light;
    font-size: 14px;
    color: var(--footer-bg-newsletter-color);
}

@media (max-width: 575px) {
    .footer {
        padding: 2em 2em;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 2em 2em;
    }
}

@media (max-width: 991px) {
    .footer__container {
        grid-template-areas:
            "my-newsletter my-newsletter"
            "my-license my-license"
            "my-security-police my-security-police";
    }

    .footer {
        padding: 4em 5em;
    }
}

/*-------- Footer End -------*/