/*-------- Footer Start -------*/
.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0
}

.footer__social-ethernet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.footer__socials-item {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.social__item-link {
    width: 24px;
    display: flex;
    flex-direction: column;
}

.social__item-link svg:hover {
    transform: scale(1.2);
}

.social__item-link svg:active {
    fill: #828282;
}

.footer__title {
    font-family: TitilliumWeb-SemiBold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #828282;
    margin-bottom: 40px;
}

.footer__subtitle {
    font-family: TitilliumWeb-SemiBold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #828282;
}

@media (max-width: 575px) {

}

@media (max-width: 767px) {

}

@media (max-width: 991px) {
}

/*-------- Footer End -------*/