/*-------- All -------*/
::selection {
    background-color: #000000;
    color: #fff;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
}

::-webkit-scrollbar{
    
}

/*-------- All -------*/