/*-------- Header Start -------*/
body._lock {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--header-menu-link-color);
}

.header__container {
    max-width: var(--header-width-container);
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header__logo {
    position: relative;
    z-index: 5;
    display: flex;
    flex: 0 0 auto;
    font-family: TitilliumWeb-Bold;
    font-size: 25px;
    color: #000000;
}

.menu__icon {
    display: none;
}

.menu__body {
    display: flex;
    flex: 0 0 80%;
}

.menu__list > li {
    position: relative;
    margin: 0 10px;
}

.menu__link {
    font-family: TitilliumWeb-SemiBold;
    font-size: 18px;
    text-align: center;
    line-height: 17px;
    color: var(--header-menu-link-color);
    display: flex;
    align-items: center;
}

/*----------------------------------*/
body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
}

.menu__list > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    flex: 1 1 auto;
}

/*----------------------------------*/

@media (min-width: 768px) {

    .menu__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu__link {
        height: 20px;
    }
}

@media (max-width: 767px) {

    .header {
        position: fixed;
        border-bottom: none;
    }

    .header__logo {
        position: relative;
        z-index: 5;
        display: flex;
        flex: 0 0 auto;
        font-family: TitilliumWeb-Bold;
        font-size: 35px;
        color: #000000;
    }

    .menu__body {
        display: flex;
        flex-direction: column;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--header-bg-menu-icon-mobile);
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon::after {
        top: 100%;
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        top: 49%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__icon._active::before,
    .menu__icon._active::after {
        background-color: var(--header-menu-link-color);

    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--header-bg-menu-body-mobile);
        padding: 100px 20px 20px 20px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: var(--header-bg-color-mobile);
        z-index: 2;
    }

    .menu__list {
        margin: 0;
    }

    .menu__list > li {
        flex-wrap: wrap;
        margin: 30px 0 !important;
    }

    .menu__list > li:last-child {
        margin-bottom: 0;
    }

    .menu__link {
        font-size: 35px;
        height: 55px;
    }
}

@media (min-width: 1200px) {
    .header__container {
        padding: 0;
    }
}

/*-------- Header End -------*/
