/*-------- Footer Start -------*/
.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0
}

.footer__social-ethernet {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.social__item-link {
    display: flex;
    flex: 0 0 33%;
    justify-content: center;
}

.footer__subtitle {
    font-family: TitilliumWeb-SemiBold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #828282;
}

@media (max-width: 575px) {

}

@media (max-width: 767px) {

}

@media (max-width: 991px) {
}

/*-------- Footer End -------*/