@charset "UTF-8";

/*============================= FONTS ==============================*/

@font-face {
  font-family: "Poppins-Medium";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*============================= END FONTS ==============================*/

/*============================= BASE ==============================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: "Poppins-Regular";
  font-size: 0.938rem;
  background-color: #fbfbfe;
  color: #6d6a7c;
}

h1,
h2,
h3,
h4 {
  color: #242329;
  font-family: "Poppins-SemiBold";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*============================= REUSABLE CSS CLASSES ==============================*/

.Section {
  padding: 2rem 0 4rem;
}

.Section .Section__Title {
  font-size: 1.5rem;
}

.Section .Section__Title .Section__Subtitle {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 3rem;
}

.Section__Title,
.Section__Subtitle {
  text-align: center;
}

/*============================= LAYOUT ==============================*/

.Container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.Grid {
  display: grid;
  gap: 1.5rem;
}

/*============================= Header ==============================*/

.Header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfbfe;
}

/*============================= Nav ==============================*/

.Nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav .Nav__Logo,
.Nav .Nav__Toggle {
  color: #242329;
  font-family: 'Poppins-Medium';
}

.Nav .Nav__Logo:hover,
.Nav .Nav__Toggle:hover {
  color: #6e57e0;
}

.Nav .Nav__Toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.Nav__List {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.Nav__Link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.813rem;
  color: #242329;
  font-family: 'Poppins-Medium';
}

.Nav__Link:hover {
  color: #6e57e0;
}

.Nav__Icon {
  font-size: 1.2rem;
}

.Nav__Close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6e57e0;
}

.Nav__Close:hover {
  color: #5a43cb;
}

/* show menu */

.Show__Menu {
  bottom: 100%;
}

@media screen and (max-width: 767px) {
  .Nav__Menu {
    position: fixed;
    bottom: -100%;
    /*Меню ховається за межі екрану*/
    left: 0;
    width: 100%;
    background-color: #fbfbfe;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}