@charset "UTF-8";

@font-face {
  font-family: "TitilliumWeb-Bold";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Bold.woff") format("woff"), url("../fonts/TitilliumWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "TitilliumWeb-SemiBold";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-SemiBold.woff") format("woff"), url("../fonts/TitilliumWeb-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: semi-bold;
}

@font-face {
  font-family: "TitilliumWeb-SemiBoldItalic";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-SemiBoldItalic.woff") format("woff"), url("../fonts/TitilliumWeb-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: semi-bold-italic;
}

/*-------- Обнулення -------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------- Обнулення -------*/

:root {
  --header-background-color: #ffffff;
  --header-width-container: 1200px;
  --header-bg-color-mobile: #ffffff;
  --header-bg-menu-body-mobile: #ffffff;
  --header-bg-menu-icon-mobile: #000000;
  --header-menu-link-color: #828282;
}

/*-------- Header Start -------*/

body._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-menu-link-color);
}

.header__container {
  max-width: var(--header-width-container);
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header__logo {
  position: relative;
  z-index: 5;
  display: flex;
  flex: 0 0 auto;
  font-family: TitilliumWeb-Bold;
  font-size: 25px;
  color: #000000;
}

.header__logo:hover,
.header__logo:focus {
  transform: scale(1.1);
}

.header__logo:active {
  color: #828282;
}

.menu__icon {
  display: none;
}

.menu__body {
  display: flex;
  flex: 0 0 80%;
}

.menu__list > li {
  position: relative;
  margin: 0 10px;
}

.menu__link {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  text-align: center;
  line-height: 17px;
  color: var(--header-menu-link-color);
  display: flex;
  align-items: center;
}

.menu__link svg {
  display: none;
}

/*----------------------------------*/

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}

.menu__list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  flex: 1 1 auto;
}

/*----------------------------------*/

/*-------- Header End -------*/

/*-------- All -------*/

::-moz-selection {
  background-color: #000000;
  color: #fff;
}

::selection {
  background-color: #000000;
  color: #fff;
}

.__container {
  max-width: 1200px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: #070707;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.25)), color-stop(0.5, transparent), to(transparent));
}

/*-------- All -------*/

/*-------- Footer Start -------*/

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.footer__social-ethernet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.footer__socials-item {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.social__item-link {
  width: 24px;
  display: flex;
  flex-direction: column;
}

.social__item-link a:hover svg {
  transform: scale(1.2);
}

.social__item-link a:focus svg {
  transform: scale(1.2);
}

.social__item-link svg:active {
  fill: #828282;
}

.footer__title {
  font-family: TitilliumWeb-SemiBold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #828282;
  margin-bottom: 40px;
}

.footer__subtitle {
  font-family: TitilliumWeb-SemiBold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #828282;
}

/*-------- Footer End -------*/

/*-------- index Start -------*/

/*-------- Header Start -------*/

.menu__body .menu__link {
  position: relative;
  transition: 0.3s ease-out 0.1s;
}

.menu__body .menu__link::before {
  height: 2px;
  width: 100%;
  background: #828282;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  transition: 0.3s;
}

.menu__body .menu__link::after {
  height: 2px;
  width: 100%;
  background: #828282;
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  visibility: hidden;
  transition: 0.3s;
}

.menu__body .menu__link:hover,
.menu__body .menu__link:focus {
  color: #000000;
}

.menu__body .menu__link:hover:active,
.menu__body .menu__link:focus:active {
  color: #828282;
}

.menu__body .menu__link:hover::before,
.menu__body .menu__link:focus::before {
  visibility: visible;
  top: 100%;
  background: #000000;
}

.menu__body .menu__link:hover::after,
.menu__body .menu__link:focus::after {
  visibility: visible;
  top: 0;
  background: #000000;
}

/*-------- Header End -------*/

/*-------- Home Start -------*/

.home {
  overflow: hidden;
}

.home .home__position {
  padding: 160px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home .home__info {
  flex: 0 0 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.home .home__title {
  font-family: TitilliumWeb-Bold;
  font-size: 48px;
  color: #070707;
  margin-bottom: 30px;
}

.home .home__text {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  color: #070707;
  line-height: 24px;
}

.home .home__background {
  flex: 0 0 60%;
}

.home .home__background:hover,
.home .home__background:focus {
  box-shadow: 0px 9px 5px -3px rgba(0, 0, 0, 0.6);
}

.home .home__photo {
  pointer-events: none;
  width: 100%;
  height: auto;
}

/*-------- Home End -------*/

/*-------- About Me Start -------*/

.about-me {
  overflow: hidden;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.about-me .about-me__content {
  max-width: 1200px;
  margin: 0 auto;
}

.about-me .about-me__content .about-me__title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  color: #070707;
  text-align: center;
  margin-bottom: 18px;
}

.about-me .about-me__content .about-me__subtitle {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #070707;
  margin-bottom: 50px;
}

.about-me .about-me__content .about-me__info {
  display: flex;
  flex-wrap: wrap;
}

.about-me .about-me__content .about-me__info .about-me__photo {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
}

.about-me .about-me__content .about-me__info .about-me__photo img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.about-me .about-me__content .about-me__info .about-me__info-text {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
}

.about-me .about-me__content .about-me__info .about-me__info-text .about-me__text {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  color: #070707;
  margin-bottom: 50px;
}

.about-me .about-me__content .about-me__info .about-me__info-text .about-me__text:nth-last-child(1) {
  margin-bottom: 0;
}

.about-me .about-me__content .about-me__info .about-me__info-text .about-me__experience {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}

.about-me .about-me__content .about-me__info .about-me__info-text .about-me__experience .about-me__item-expirience .about-me__title-expirience {
  font-family: TitilliumWeb-Bold;
  font-size: 25px;
  color: #070707;
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}

.about-me .about-me__content .about-me__info .about-me__info-text .about-me__experience .about-me__item-expirience .about-me__subtitle-expirience {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.about-me .about-me__content .about-me__info .about-me__info-text .about-me__button-download {
  width: 180px;
  display: flex;
  height: 60px;
  border-radius: 10px;
  background-color: #070707;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.about-me .about-me__content .about-me__info .about-me__info-text .about-me__button-download:hover,
.about-me .about-me__content .about-me__info .about-me__info-text .about-me__button-download:focus {
  background-color: #272323;
}

.about-me .about-me__content .about-me__info .about-me__info-text .about-me__button-download:active {
  background-color: #504747;
}

.about-me .about-me__content .about-me__info .about-me__info-text .about-me__button-download a {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.about-me .about-me__content .about-me__info .about-me__info-text .about-me__button-download a svg {
  margin-left: 10px;
}

/*-------- About Me End -------*/

/*-------- Skills Start -------*/

.skills {
  overflow: hidden;
}

.skills .skills__position {
  padding: 100px 0;
}

.skills .skills__title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  text-align: center;
  color: #070707;
  margin-bottom: 18px;
}

.skills .skills__subtitle {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #070707;
  margin-bottom: 50px;
}

.skills .spoiler-skills__block {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills .spoiler-skills__block-item {
  flex: 0 0 49%;
  margin-bottom: 20px;
}

.skills .spoiler-skills__block-item:focus {
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.skills .block__info {
  display: flex;
  align-items: center;
}

.skills .spoiler-skills__block-title-icon {
  margin-right: 20px;
}

.skills .spoiler-skills__block-info-title {
  display: flex;
  background-color: unset;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.skills .spoiler-skills__block-info-title .bi-chevron-down {
  transition: transform 0.5s ease 0s;
}

.skills .spoiler-skills__block-info-title._active .bi-chevron-down {
  transform: rotate(180deg);
}

.skills .spoiler-skills__button-info .spoiler-skills__block-title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  color: #070707;
  text-align: left;
}

.skills .spoiler-skills__button-info .spoiler-skills__block-subtitle {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  color: #070707;
  text-align: left;
}

.skills .spoiler-skills__block-content {
  padding: 30px 0;
}

.skills .spoiler-skills__block-info {
  padding: 0 0 0 60px;
}

.skills .spoiler-skills__progres-item {
  margin-bottom: 20px;
}

.skills .progress progress[value="0"] + .progress-value:before {
  content: "0%";
}

.skills .progress progress[value="0"] ~ .progress-bg .progress-bar {
  width: 0%;
}

.skills .progress progress[value="1"] + .progress-value:before {
  content: "1%";
}

.skills .progress progress[value="1"] ~ .progress-bg .progress-bar {
  width: 1%;
}

.skills .progress progress[value="2"] + .progress-value:before {
  content: "2%";
}

.skills .progress progress[value="2"] ~ .progress-bg .progress-bar {
  width: 2%;
}

.skills .progress progress[value="3"] + .progress-value:before {
  content: "3%";
}

.skills .progress progress[value="3"] ~ .progress-bg .progress-bar {
  width: 3%;
}

.skills .progress progress[value="4"] + .progress-value:before {
  content: "4%";
}

.skills .progress progress[value="4"] ~ .progress-bg .progress-bar {
  width: 4%;
}

.skills .progress progress[value="5"] + .progress-value:before {
  content: "5%";
}

.skills .progress progress[value="5"] ~ .progress-bg .progress-bar {
  width: 5%;
}

.skills .progress progress[value="6"] + .progress-value:before {
  content: "6%";
}

.skills .progress progress[value="6"] ~ .progress-bg .progress-bar {
  width: 6%;
}

.skills .progress progress[value="7"] + .progress-value:before {
  content: "7%";
}

.skills .progress progress[value="7"] ~ .progress-bg .progress-bar {
  width: 7%;
}

.skills .progress progress[value="8"] + .progress-value:before {
  content: "8%";
}

.skills .progress progress[value="8"] ~ .progress-bg .progress-bar {
  width: 8%;
}

.skills .progress progress[value="9"] + .progress-value:before {
  content: "9%";
}

.skills .progress progress[value="9"] ~ .progress-bg .progress-bar {
  width: 9%;
}

.skills .progress progress[value="10"] + .progress-value:before {
  content: "10%";
}

.skills .progress progress[value="10"] ~ .progress-bg .progress-bar {
  width: 10%;
}

.skills .progress progress[value="11"] + .progress-value:before {
  content: "11%";
}

.skills .progress progress[value="11"] ~ .progress-bg .progress-bar {
  width: 11%;
}

.skills .progress progress[value="12"] + .progress-value:before {
  content: "12%";
}

.skills .progress progress[value="12"] ~ .progress-bg .progress-bar {
  width: 12%;
}

.skills .progress progress[value="13"] + .progress-value:before {
  content: "13%";
}

.skills .progress progress[value="13"] ~ .progress-bg .progress-bar {
  width: 13%;
}

.skills .progress progress[value="14"] + .progress-value:before {
  content: "14%";
}

.skills .progress progress[value="14"] ~ .progress-bg .progress-bar {
  width: 14%;
}

.skills .progress progress[value="15"] + .progress-value:before {
  content: "15%";
}

.skills .progress progress[value="15"] ~ .progress-bg .progress-bar {
  width: 15%;
}

.skills .progress progress[value="16"] + .progress-value:before {
  content: "16%";
}

.skills .progress progress[value="16"] ~ .progress-bg .progress-bar {
  width: 16%;
}

.skills .progress progress[value="17"] + .progress-value:before {
  content: "17%";
}

.skills .progress progress[value="17"] ~ .progress-bg .progress-bar {
  width: 17%;
}

.skills .progress progress[value="18"] + .progress-value:before {
  content: "18%";
}

.skills .progress progress[value="18"] ~ .progress-bg .progress-bar {
  width: 18%;
}

.skills .progress progress[value="19"] + .progress-value:before {
  content: "19%";
}

.skills .progress progress[value="19"] ~ .progress-bg .progress-bar {
  width: 19%;
}

.skills .progress progress[value="20"] + .progress-value:before {
  content: "20%";
}

.skills .progress progress[value="20"] ~ .progress-bg .progress-bar {
  width: 20%;
}

.skills .progress progress[value="21"] + .progress-value:before {
  content: "21%";
}

.skills .progress progress[value="21"] ~ .progress-bg .progress-bar {
  width: 21%;
}

.skills .progress progress[value="22"] + .progress-value:before {
  content: "22%";
}

.skills .progress progress[value="22"] ~ .progress-bg .progress-bar {
  width: 22%;
}

.skills .progress progress[value="23"] + .progress-value:before {
  content: "23%";
}

.skills .progress progress[value="23"] ~ .progress-bg .progress-bar {
  width: 23%;
}

.skills .progress progress[value="24"] + .progress-value:before {
  content: "24%";
}

.skills .progress progress[value="24"] ~ .progress-bg .progress-bar {
  width: 24%;
}

.skills .progress progress[value="25"] + .progress-value:before {
  content: "25%";
}

.skills .progress progress[value="25"] ~ .progress-bg .progress-bar {
  width: 25%;
}

.skills .progress progress[value="26"] + .progress-value:before {
  content: "26%";
}

.skills .progress progress[value="26"] ~ .progress-bg .progress-bar {
  width: 26%;
}

.skills .progress progress[value="27"] + .progress-value:before {
  content: "27%";
}

.skills .progress progress[value="27"] ~ .progress-bg .progress-bar {
  width: 27%;
}

.skills .progress progress[value="28"] + .progress-value:before {
  content: "28%";
}

.skills .progress progress[value="28"] ~ .progress-bg .progress-bar {
  width: 28%;
}

.skills .progress progress[value="29"] + .progress-value:before {
  content: "29%";
}

.skills .progress progress[value="29"] ~ .progress-bg .progress-bar {
  width: 29%;
}

.skills .progress progress[value="30"] + .progress-value:before {
  content: "30%";
}

.skills .progress progress[value="30"] ~ .progress-bg .progress-bar {
  width: 30%;
}

.skills .progress progress[value="31"] + .progress-value:before {
  content: "31%";
}

.skills .progress progress[value="31"] ~ .progress-bg .progress-bar {
  width: 31%;
}

.skills .progress progress[value="32"] + .progress-value:before {
  content: "32%";
}

.skills .progress progress[value="32"] ~ .progress-bg .progress-bar {
  width: 32%;
}

.skills .progress progress[value="33"] + .progress-value:before {
  content: "33%";
}

.skills .progress progress[value="33"] ~ .progress-bg .progress-bar {
  width: 33%;
}

.skills .progress progress[value="34"] + .progress-value:before {
  content: "34%";
}

.skills .progress progress[value="34"] ~ .progress-bg .progress-bar {
  width: 34%;
}

.skills .progress progress[value="35"] + .progress-value:before {
  content: "35%";
}

.skills .progress progress[value="35"] ~ .progress-bg .progress-bar {
  width: 35%;
}

.skills .progress progress[value="36"] + .progress-value:before {
  content: "36%";
}

.skills .progress progress[value="36"] ~ .progress-bg .progress-bar {
  width: 36%;
}

.skills .progress progress[value="37"] + .progress-value:before {
  content: "37%";
}

.skills .progress progress[value="37"] ~ .progress-bg .progress-bar {
  width: 37%;
}

.skills .progress progress[value="38"] + .progress-value:before {
  content: "38%";
}

.skills .progress progress[value="38"] ~ .progress-bg .progress-bar {
  width: 38%;
}

.skills .progress progress[value="39"] + .progress-value:before {
  content: "39%";
}

.skills .progress progress[value="39"] ~ .progress-bg .progress-bar {
  width: 39%;
}

.skills .progress progress[value="40"] + .progress-value:before {
  content: "40%";
}

.skills .progress progress[value="40"] ~ .progress-bg .progress-bar {
  width: 40%;
}

.skills .progress progress[value="41"] + .progress-value:before {
  content: "41%";
}

.skills .progress progress[value="41"] ~ .progress-bg .progress-bar {
  width: 41%;
}

.skills .progress progress[value="42"] + .progress-value:before {
  content: "42%";
}

.skills .progress progress[value="42"] ~ .progress-bg .progress-bar {
  width: 42%;
}

.skills .progress progress[value="43"] + .progress-value:before {
  content: "43%";
}

.skills .progress progress[value="43"] ~ .progress-bg .progress-bar {
  width: 43%;
}

.skills .progress progress[value="44"] + .progress-value:before {
  content: "44%";
}

.skills .progress progress[value="44"] ~ .progress-bg .progress-bar {
  width: 44%;
}

.skills .progress progress[value="45"] + .progress-value:before {
  content: "45%";
}

.skills .progress progress[value="45"] ~ .progress-bg .progress-bar {
  width: 45%;
}

.skills .progress progress[value="46"] + .progress-value:before {
  content: "46%";
}

.skills .progress progress[value="46"] ~ .progress-bg .progress-bar {
  width: 46%;
}

.skills .progress progress[value="47"] + .progress-value:before {
  content: "47%";
}

.skills .progress progress[value="47"] ~ .progress-bg .progress-bar {
  width: 47%;
}

.skills .progress progress[value="48"] + .progress-value:before {
  content: "48%";
}

.skills .progress progress[value="48"] ~ .progress-bg .progress-bar {
  width: 48%;
}

.skills .progress progress[value="49"] + .progress-value:before {
  content: "49%";
}

.skills .progress progress[value="49"] ~ .progress-bg .progress-bar {
  width: 49%;
}

.skills .progress progress[value="50"] + .progress-value:before {
  content: "50%";
}

.skills .progress progress[value="50"] ~ .progress-bg .progress-bar {
  width: 50%;
}

.skills .progress progress[value="51"] + .progress-value:before {
  content: "51%";
}

.skills .progress progress[value="51"] ~ .progress-bg .progress-bar {
  width: 51%;
}

.skills .progress progress[value="52"] + .progress-value:before {
  content: "52%";
}

.skills .progress progress[value="52"] ~ .progress-bg .progress-bar {
  width: 52%;
}

.skills .progress progress[value="53"] + .progress-value:before {
  content: "53%";
}

.skills .progress progress[value="53"] ~ .progress-bg .progress-bar {
  width: 53%;
}

.skills .progress progress[value="54"] + .progress-value:before {
  content: "54%";
}

.skills .progress progress[value="54"] ~ .progress-bg .progress-bar {
  width: 54%;
}

.skills .progress progress[value="55"] + .progress-value:before {
  content: "55%";
}

.skills .progress progress[value="55"] ~ .progress-bg .progress-bar {
  width: 55%;
}

.skills .progress progress[value="56"] + .progress-value:before {
  content: "56%";
}

.skills .progress progress[value="56"] ~ .progress-bg .progress-bar {
  width: 56%;
}

.skills .progress progress[value="57"] + .progress-value:before {
  content: "57%";
}

.skills .progress progress[value="57"] ~ .progress-bg .progress-bar {
  width: 57%;
}

.skills .progress progress[value="58"] + .progress-value:before {
  content: "58%";
}

.skills .progress progress[value="58"] ~ .progress-bg .progress-bar {
  width: 58%;
}

.skills .progress progress[value="59"] + .progress-value:before {
  content: "59%";
}

.skills .progress progress[value="59"] ~ .progress-bg .progress-bar {
  width: 59%;
}

.skills .progress progress[value="60"] + .progress-value:before {
  content: "60%";
}

.skills .progress progress[value="60"] ~ .progress-bg .progress-bar {
  width: 60%;
}

.skills .progress progress[value="61"] + .progress-value:before {
  content: "61%";
}

.skills .progress progress[value="61"] ~ .progress-bg .progress-bar {
  width: 61%;
}

.skills .progress progress[value="62"] + .progress-value:before {
  content: "62%";
}

.skills .progress progress[value="62"] ~ .progress-bg .progress-bar {
  width: 62%;
}

.skills .progress progress[value="63"] + .progress-value:before {
  content: "63%";
}

.skills .progress progress[value="63"] ~ .progress-bg .progress-bar {
  width: 63%;
}

.skills .progress progress[value="64"] + .progress-value:before {
  content: "64%";
}

.skills .progress progress[value="64"] ~ .progress-bg .progress-bar {
  width: 64%;
}

.skills .progress progress[value="65"] + .progress-value:before {
  content: "65%";
}

.skills .progress progress[value="65"] ~ .progress-bg .progress-bar {
  width: 65%;
}

.skills .progress progress[value="66"] + .progress-value:before {
  content: "66%";
}

.skills .progress progress[value="66"] ~ .progress-bg .progress-bar {
  width: 66%;
}

.skills .progress progress[value="67"] + .progress-value:before {
  content: "67%";
}

.skills .progress progress[value="67"] ~ .progress-bg .progress-bar {
  width: 67%;
}

.skills .progress progress[value="68"] + .progress-value:before {
  content: "68%";
}

.skills .progress progress[value="68"] ~ .progress-bg .progress-bar {
  width: 68%;
}

.skills .progress progress[value="69"] + .progress-value:before {
  content: "69%";
}

.skills .progress progress[value="69"] ~ .progress-bg .progress-bar {
  width: 69%;
}

.skills .progress progress[value="70"] + .progress-value:before {
  content: "70%";
}

.skills .progress progress[value="70"] ~ .progress-bg .progress-bar {
  width: 70%;
}

.skills .progress progress[value="71"] + .progress-value:before {
  content: "71%";
}

.skills .progress progress[value="71"] ~ .progress-bg .progress-bar {
  width: 71%;
}

.skills .progress progress[value="72"] + .progress-value:before {
  content: "72%";
}

.skills .progress progress[value="72"] ~ .progress-bg .progress-bar {
  width: 72%;
}

.skills .progress progress[value="73"] + .progress-value:before {
  content: "73%";
}

.skills .progress progress[value="73"] ~ .progress-bg .progress-bar {
  width: 73%;
}

.skills .progress progress[value="74"] + .progress-value:before {
  content: "74%";
}

.skills .progress progress[value="74"] ~ .progress-bg .progress-bar {
  width: 74%;
}

.skills .progress progress[value="75"] + .progress-value:before {
  content: "75%";
}

.skills .progress progress[value="75"] ~ .progress-bg .progress-bar {
  width: 75%;
}

.skills .progress progress[value="76"] + .progress-value:before {
  content: "76%";
}

.skills .progress progress[value="76"] ~ .progress-bg .progress-bar {
  width: 76%;
}

.skills .progress progress[value="77"] + .progress-value:before {
  content: "77%";
}

.skills .progress progress[value="77"] ~ .progress-bg .progress-bar {
  width: 77%;
}

.skills .progress progress[value="78"] + .progress-value:before {
  content: "78%";
}

.skills .progress progress[value="78"] ~ .progress-bg .progress-bar {
  width: 78%;
}

.skills .progress progress[value="79"] + .progress-value:before {
  content: "79%";
}

.skills .progress progress[value="79"] ~ .progress-bg .progress-bar {
  width: 79%;
}

.skills .progress progress[value="80"] + .progress-value:before {
  content: "80%";
}

.skills .progress progress[value="80"] ~ .progress-bg .progress-bar {
  width: 80%;
}

.skills .progress progress[value="81"] + .progress-value:before {
  content: "81%";
}

.skills .progress progress[value="81"] ~ .progress-bg .progress-bar {
  width: 81%;
}

.skills .progress progress[value="82"] + .progress-value:before {
  content: "82%";
}

.skills .progress progress[value="82"] ~ .progress-bg .progress-bar {
  width: 82%;
}

.skills .progress progress[value="83"] + .progress-value:before {
  content: "83%";
}

.skills .progress progress[value="83"] ~ .progress-bg .progress-bar {
  width: 83%;
}

.skills .progress progress[value="84"] + .progress-value:before {
  content: "84%";
}

.skills .progress progress[value="84"] ~ .progress-bg .progress-bar {
  width: 84%;
}

.skills .progress progress[value="85"] + .progress-value:before {
  content: "85%";
}

.skills .progress progress[value="85"] ~ .progress-bg .progress-bar {
  width: 85%;
}

.skills .progress progress[value="86"] + .progress-value:before {
  content: "86%";
}

.skills .progress progress[value="86"] ~ .progress-bg .progress-bar {
  width: 86%;
}

.skills .progress progress[value="87"] + .progress-value:before {
  content: "87%";
}

.skills .progress progress[value="87"] ~ .progress-bg .progress-bar {
  width: 87%;
}

.skills .progress progress[value="88"] + .progress-value:before {
  content: "88%";
}

.skills .progress progress[value="88"] ~ .progress-bg .progress-bar {
  width: 88%;
}

.skills .progress progress[value="89"] + .progress-value:before {
  content: "89%";
}

.skills .progress progress[value="89"] ~ .progress-bg .progress-bar {
  width: 89%;
}

.skills .progress progress[value="90"] + .progress-value:before {
  content: "90%";
}

.skills .progress progress[value="90"] ~ .progress-bg .progress-bar {
  width: 90%;
}

.skills .progress progress[value="91"] + .progress-value:before {
  content: "91%";
}

.skills .progress progress[value="91"] ~ .progress-bg .progress-bar {
  width: 91%;
}

.skills .progress progress[value="92"] + .progress-value:before {
  content: "92%";
}

.skills .progress progress[value="92"] ~ .progress-bg .progress-bar {
  width: 92%;
}

.skills .progress progress[value="93"] + .progress-value:before {
  content: "93%";
}

.skills .progress progress[value="93"] ~ .progress-bg .progress-bar {
  width: 93%;
}

.skills .progress progress[value="94"] + .progress-value:before {
  content: "94%";
}

.skills .progress progress[value="94"] ~ .progress-bg .progress-bar {
  width: 94%;
}

.skills .progress progress[value="95"] + .progress-value:before {
  content: "95%";
}

.skills .progress progress[value="95"] ~ .progress-bg .progress-bar {
  width: 95%;
}

.skills .progress progress[value="96"] + .progress-value:before {
  content: "96%";
}

.skills .progress progress[value="96"] ~ .progress-bg .progress-bar {
  width: 96%;
}

.skills .progress progress[value="97"] + .progress-value:before {
  content: "97%";
}

.skills .progress progress[value="97"] ~ .progress-bg .progress-bar {
  width: 97%;
}

.skills .progress progress[value="98"] + .progress-value:before {
  content: "98%";
}

.skills .progress progress[value="98"] ~ .progress-bg .progress-bar {
  width: 98%;
}

.skills .progress progress[value="99"] + .progress-value:before {
  content: "99%";
}

.skills .progress progress[value="99"] ~ .progress-bg .progress-bar {
  width: 99%;
}

.skills .progress progress[value="100"] + .progress-value:before {
  content: "100%";
}

.skills .progress progress[value="100"] ~ .progress-bg .progress-bar {
  width: 100%;
}

.skills .progress {
  width: 100%;
  font: 12px Arial, Tahoma, sans-serif;
  position: relative;
  overflow: hidden;
}

.skills .progress progress {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  left: -777px;
}

.skills .progress-value {
  display: flex;
  flex-direction: row-reverse;
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 8px;
  color: #070707;
  justify-content: space-between;
}

.skills .progress-value h2 {
  font-family: TitilliumWeb-Bold;
  font-size: 18px;
  color: #070707;
}

.skills .progress-bg {
  background: #f6f6f6;
  position: relative;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

@-webkit-keyframes progress_bar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -40px 0;
  }
}

@keyframes progress_bar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -40px 0;
  }
}

.skills .progress-bar {
  overflow: hidden;
  background: #070707;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: width 1s linear;
}

.skills .progress-bar:after {
  -webkit-animation: progress_bar 0.8s linear infinite;
  animation: progress_bar 0.8s linear infinite;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------- Skills End -------*/

/*-------- Portfolio Start -------*/

.portfolio {
  overflow: hidden;
  background-color: #f6f6f6;
}

.portfolio .portfolio__position {
  padding: 100px 0;
}

.portfolio .portfolio__title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  color: #070707;
  margin-bottom: 50px;
  text-align: center;
}

.portfolio .portfolio__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.portfolio .portfolio__info:hover,
.portfolio .portfolio__info:focus {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.portfolio .portfolio__info:nth-last-child(1) {
  margin-bottom: 0;
}

.portfolio .portfolio__info .portfolio__link-photo {
  margin-bottom: 45px;
}

.portfolio .portfolio__info .portfolio__photo-item {
  width: 100%;
}

.portfolio .portfolio__info .portfolio__link {
  display: flex;
  justify-content: center;
}

.portfolio .portfolio__info .portfolio__link .portfolio__link-item {
  text-align: center;
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  color: #070707;
  margin-bottom: 47px;
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  position: relative;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}

.portfolio .portfolio__info .portfolio__link .portfolio__link-item:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #070707;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transform-origin: bottom center;
  z-index: -1;
}

.portfolio .portfolio__info .portfolio__link .portfolio__link-item:hover,
.portfolio .portfolio__info .portfolio__link .portfolio__link-item:focus {
  color: #ffffff;
}

.portfolio .portfolio__info .portfolio__link .portfolio__link-item:hover:after,
.portfolio .portfolio__info .portfolio__link .portfolio__link-item:focus:after {
  right: 0;
  left: 0;
  height: 100%;
}

.portfolio .portfolio__info .portfolio__link .portfolio__link-item:hover:active,
.portfolio .portfolio__info .portfolio__link .portfolio__link-item:focus:active {
  color: #b6b3b3;
}

.portfolio .portfolio__link-photo {
  position: relative;
}

.portfolio .portfolio__link-photo .portfolio__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: all 0.8s ease;
}

.portfolio .portfolio__link-photo .portfolio__text h2 {
  margin: 0;
  font-family: TitilliumWeb-SemiBold;
  font-size: 44px;
  color: #070707;
  text-align: center;
  line-height: 47px;
}

.portfolio .portfolio__link-photo:hover .portfolio__text,
.portfolio .portfolio__link-photo:focus .portfolio__text {
  opacity: 1;
}

.portfolio .portfolio__link-photo:hover img,
.portfolio .portfolio__link-photo:focus img {
  filter: blur(5px);
}

.portfolio .portfolio__link-photo figure {
  overflow: hidden;
}

.portfolio .portfolio__link-photo img {
  transform: scale(1);
  transition: 0.5s ease;
}

.portfolio .portfolio__link-photo:hover img,
.portfolio .portfolio__link-photo:focus img {
  transform: scale(1.2);
}

/*-------- Portfolio End -------*/

/*-------- Contacts Start -------*/

.contacts {
  overflow: hidden;
  padding: 0 200px;
}

.contacts .contacts__position {
  padding: 100px 0 0 0;
}

.contacts .contacts__title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  text-align: center;
  color: #070707;
  margin-bottom: 20px;
}

.contacts .contacts__subtitle {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #070707;
  margin-bottom: 50px;
}

.contacts .contacts__form-action {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "my-input-name my-input-mail" "my-input-message my-input-message" "my-input-button my-input-button";
  justify-items: center;
}

.contacts .contacts__form-action .contacts__name {
  grid-area: my-input-name;
  width: 100%;
}

.contacts .contacts__form-action .contacts__name label {
  display: block;
  font-family: TitilliumWeb-Bold;
  font-size: 22px;
  text-align: left;
  color: #070707;
  margin-bottom: 10px;
}

.contacts .contacts__form-action .contacts__name input {
  background-color: #070707;
  color: #ffffff;
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  padding: 5px 3px;
  border-radius: 5px;
  width: 100%;
}

.contacts .contacts__form-action .contacts__name input:hover,
.contacts .contacts__form-action .contacts__name input:focus {
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.contacts .contacts__form-action .contacts__name input::-moz-selection {
  background-color: #f6f6f6;
  color: #070707;
}

.contacts .contacts__form-action .contacts__name input::selection {
  background-color: #f6f6f6;
  color: #070707;
}

.contacts .contacts__form-action .contacts__name input::-moz-placeholder {
  font-family: TitilliumWeb-SemiBoldItalic;
  font-size: 18px;
  color: #828282;
  padding: 5px 3px;
}

.contacts .contacts__form-action .contacts__name input:-ms-input-placeholder {
  font-family: TitilliumWeb-SemiBoldItalic;
  font-size: 18px;
  color: #828282;
  padding: 5px 3px;
}

.contacts .contacts__form-action .contacts__name input::placeholder {
  font-family: TitilliumWeb-SemiBoldItalic;
  font-size: 18px;
  color: #828282;
  padding: 5px 3px;
}

.contacts .contacts__form-action .contacts__mail {
  grid-area: my-input-mail;
  width: 100%;
}

.contacts .contacts__form-action .contacts__mail label {
  display: block;
  font-family: TitilliumWeb-Bold;
  font-size: 22px;
  text-align: left;
  color: #070707;
  margin-bottom: 10px;
}

.contacts .contacts__form-action .contacts__mail input {
  background-color: #070707;
  color: #ffffff;
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  padding: 5px 3px;
  border-radius: 5px;
  width: 100%;
}

.contacts .contacts__form-action .contacts__mail input:hover,
.contacts .contacts__form-action .contacts__mail input:focus {
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.contacts .contacts__form-action .contacts__mail input::-moz-selection {
  background-color: #f6f6f6;
  color: #070707;
}

.contacts .contacts__form-action .contacts__mail input::selection {
  background-color: #f6f6f6;
  color: #070707;
}

.contacts .contacts__form-action .contacts__mail input::-moz-placeholder {
  font-family: TitilliumWeb-SemiBoldItalic;
  font-size: 18px;
  color: #828282;
  padding: 5px 3px;
}

.contacts .contacts__form-action .contacts__mail input:-ms-input-placeholder {
  font-family: TitilliumWeb-SemiBoldItalic;
  font-size: 18px;
  color: #828282;
  padding: 5px 3px;
}

.contacts .contacts__form-action .contacts__mail input::placeholder {
  font-family: TitilliumWeb-SemiBoldItalic;
  font-size: 18px;
  color: #828282;
  padding: 5px 3px;
}

.contacts .contacts__form-action .contacts__message {
  grid-area: my-input-message;
  width: 100%;
}

.contacts .contacts__form-action .contacts__message label {
  display: block;
  font-family: TitilliumWeb-Bold;
  font-size: 22px;
  text-align: left;
  color: #070707;
  margin-bottom: 10px;
}

.contacts .contacts__form-action .contacts__message > textarea {
  background-color: #070707;
  color: #ffffff;
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  padding: 5px 3px;
  border-radius: 5px;
  width: 100%;
  resize: vertical;
  max-height: 400px;
  min-height: 100px;
}

.contacts .contacts__form-action .contacts__message > textarea:hover,
.contacts .contacts__form-action .contacts__message > textarea:focus {
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.contacts .contacts__form-action .contacts__message > textarea::-moz-selection {
  background-color: #f6f6f6;
  color: #070707;
}

.contacts .contacts__form-action .contacts__message > textarea::selection {
  background-color: #f6f6f6;
  color: #070707;
}

.contacts .contacts__form-action .contacts__message > textarea::-moz-placeholder {
  font-family: TitilliumWeb-SemiBoldItalic;
  font-size: 18px;
  color: #828282;
  padding: 5px 3px;
}

.contacts .contacts__form-action .contacts__message > textarea:-ms-input-placeholder {
  font-family: TitilliumWeb-SemiBoldItalic;
  font-size: 18px;
  color: #828282;
  padding: 5px 3px;
}

.contacts .contacts__form-action .contacts__message > textarea::placeholder {
  font-family: TitilliumWeb-SemiBoldItalic;
  font-size: 18px;
  color: #828282;
  padding: 5px 3px;
}

.contacts .contacts__form-action .contacts__button {
  grid-area: my-input-button;
  width: 180px;
  height: 60px;
  background-color: #070707;
  color: #ffffff;
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 20px;
}

.contacts .contacts__form-action .contacts__button:hover,
.contacts .contacts__form-action .contacts__button:focus {
  color: #828282;
}

.contacts .contacts__form-action .contacts__button:active {
  border: #070707 solid 2px;
  background-color: #ffffff;
  color: #070707;
}

/*-------- Contacts End -------*/

/*-------- index End -------*/

@media (min-width: 768px) {
  .menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__link {
    height: 20px;
  }
}

@media (min-width: 1200px) {
  .header__container {
    padding: 0;
  }
}

@media (max-width: 1199px) {
  .home .home__position {
    padding: 160px 30px 50px 30px;
  }

  .about-me .about-me__content {
    padding: 0 30px;
  }

  .skills .skills__position {
    padding: 100px 30px;
  }

  .portfolio .portfolio__position {
    padding: 100px 30px;
  }
}

@media (max-width: 991px) {
  .about-me .about-me__content .about-me__info .about-me__info-text {
    padding-left: 20px;
  }

  .skills .spoiler-skills__block-item {
    flex: 0 0 100%;
  }

  .contacts {
    padding: 0 60px;
  }

  .contacts .contacts__form-action {
    grid-template-areas: "my-input-name my-input-name" "my-input-mail my-input-mail" "my-input-message my-input-message" "my-input-button my-input-button";
  }

  .contacts .contacts__form-action .contacts__name label {
    text-align: center;
  }

  .contacts .contacts__form-action .contacts__mail label {
    text-align: center;
  }

  .contacts .contacts__form-action .contacts__message label {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .header {
    position: fixed;
    border-bottom: none;
  }

  .header__logo {
    position: relative;
    z-index: 5;
    display: flex;
    flex: 0 0 auto;
    font-family: TitilliumWeb-Bold;
    font-size: 35px;
    color: #000000;
  }

  .menu__body {
    display: flex;
    flex-direction: column;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--header-bg-menu-icon-mobile);
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon span {
    top: 57%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon::after {
    top: 100%;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    top: 44%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__icon._active::before,
  .menu__icon._active::after {
    background-color: var(--header-menu-link-color);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--header-bg-menu-body-mobile);
    padding: 100px 20px 20px 20px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--header-bg-color-mobile);
    z-index: 2;
  }

  .menu__list {
    margin: 0;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 30px 0 !important;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 35px;
    height: 55px;
    flex: 0 0 100%;
    line-height: 38px;
    justify-content: space-between;
  }

  .menu__link svg {
    display: block;
  }

  .footer__container {
    padding: 50px 0;
  }

  .home .home__position {
    padding: 120px 30px 50px 30px;
  }

  .home .home__info {
    flex: 0 0 100%;
    align-items: unset;
  }

  .home .home__title {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .home .home__text {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }

  .home .home__background:hover,
  .home .home__background:focus {
    box-shadow: 0px 9px 5px -3px rgba(0, 0, 0, 0.6);
  }

  .home .home__background {
    flex: 0 0 100%;
  }

  .about-me {
    padding: 50px 0;
  }

  .about-me .about-me__content .about-me__info .about-me__photo {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }

  .about-me .about-me__content .about-me__info .about-me__info-text {
    flex: 0 0 100%;
    padding-left: 0;
  }

  .skills .skills__position {
    padding: 50px 30px;
  }

  .portfolio .portfolio__position {
    padding: 50px 30px;
  }

  .portfolio .portfolio__info {
    margin-bottom: 40px;
  }

  .contacts {
    padding: 0 30px;
  }

  .contacts .contacts__position {
    padding: 50px 0 0 0;
  }
}

@media (max-width: 575px) {
  .portfolio .portfolio__link-photo .portfolio__text h2 {
    font-size: 30px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1199px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 575px){

@supports (-webkit-appearance:none){

}

}
