@charset "UTF-8";

@font-face {
  font-family: "TitilliumWeb-Bold";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Bold.woff") format("woff"), url("../fonts/TitilliumWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "TitilliumWeb-SemiBold";
  font-display: swap;
  src: url("../fonts/TitilliumWeb-SemiBold.woff") format("woff"), url("../fonts/TitilliumWeb-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: semibold;
}

/*-------- Обнулення -------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------- Обнулення -------*/

:root {
  --header-background-color: #ffffff;
  --header-width-container: 1200px;
  --header-bg-color-mobile: #ffffff;
  --header-bg-menu-body-mobile: #ffffff;
  --header-bg-menu-icon-mobile: #000000;
  --header-menu-link-color: #828282;
  --footer-bg-color: #5b6460;
  --footer-bg-newsletter-color: #fff;
  --footer-newsletter-sub-text-color: #fff;
}

/*-------- Header Start -------*/

body._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--header-background-color);
}

.header__container {
  max-width: var(--header-width-container);
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  border-bottom: 1px solid var(--header-menu-link-color);
}

.header__logo {
  position: relative;
  z-index: 5;
  display: flex;
  flex: 0 0 auto;
  font-family: TitilliumWeb-Bold;
  font-size: 25px;
  color: #000000;
}

.menu__icon {
  display: none;
}

.menu__body {
  display: flex;
  flex: 0 0 80%;
}

.menu__list > li {
  position: relative;
  margin: 0 10px;
}

.menu__link {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  text-align: center;
  line-height: 17px;
  color: var(--header-menu-link-color);
  display: flex;
  align-items: center;
}

/*----------------------------------*/

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}

.menu__list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  flex: 1 1 auto;
}

/*----------------------------------*/

/*-------- Header End -------*/

/*-------- All -------*/

::-moz-selection {
  background-color: #000000;
  color: #fff;
}

::selection {
  background-color: #000000;
  color: #fff;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

/*-------- All -------*/

/*-------- Footer Start -------*/

.footer {
  background-color: var(--footer-bg-color);
  padding: 8em 10em;
}

.footer__container {
  max-width: 1408px;
  margin: 0 auto;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.footer__newsletter {
  grid-area: my-newsletter;
}

.footer__license {
  grid-area: my-license;
}

.footer__security-police {
  grid-area: my-security-police;
}

/*Шаблон вигляду футера*/

.footer__container {
  grid-template-areas: "my-newsletter my-license" "my-security-police my-security-police";
}

.newsletter__form {
  position: relative;
}

.newsletter__title {
  font-family: "Open Sans Semibold";
  color: var(--footer-bg-newsletter-color);
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
}

.newsletter__input {
  width: 100%;
  background-color: var(--footer-bg-color);
  border-bottom: 2px solid var(--footer-bg-newsletter-color);
  padding: 3px;
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__input:focus,
.newsletter__input:hover {
  background-color: #808e88;
}

.newsletter__input::-moz-placeholder {
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__input:-ms-input-placeholder {
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__input::placeholder {
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__button {
  position: absolute;
  display: inline-block;
  right: 2px;
  top: 43px;
  background-color: unset;
}

.newsletter-sub-text {
  font-family: OpenSans-Light;
  font-size: 16px;
  margin-top: 10px;
  color: var(--footer-newsletter-sub-text-color);
  line-height: 20px;
}

.footer__license-text {
  display: flex;
  margin-bottom: 30px;
}

.footer__license-item-text {
  text-align: center;
  flex: 0 0 33.333%;
}

.footer__license-item-text > a {
  color: var(--footer-bg-newsletter-color);
  font-family: DINPro-Light;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
}

.footer__license-item-text > a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.footer__license-icon {
  display: flex;
  align-items: center;
}

.footer__license-item {
  flex: 0 0 25%;
  text-align: center;
}

.footer__security-police {
  font-family: OpenSans-Light;
  font-size: 14px;
  color: var(--footer-bg-newsletter-color);
}

/*-------- Footer End -------*/

/*-------- index Start -------*/

/*-------- Header Start -------*/

.menu__body .menu__link {
  position: relative;
  transition: .3s ease-out .1s;
}

.menu__body .menu__link::before {
  height: 2px;
  width: 100%;
  background: #828282;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  transition: .3s;
}

.menu__body .menu__link::after {
  height: 2px;
  width: 100%;
  background: #828282;
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  visibility: hidden;
  transition: .3s;
}

.menu__body .menu__link:hover {
  color: #000000;
}

.menu__body .menu__link:hover::before {
  visibility: visible;
  top: 100%;
  background: #000000;
}

.menu__body .menu__link:hover::after {
  visibility: visible;
  top: 0;
  background: #000000;
}

/*-------- Header End -------*/

/*-------- Home Start -------*/

.home .home__position {
  margin: 170px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home .home__info {
  flex: 0 0 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.home .home__title {
  font-family: TitilliumWeb-Bold;
  font-size: 48px;
  color: #070707;
  margin-bottom: 30px;
}

.home .home__text {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  color: #070707;
  line-height: 24px;
}

.home .home__background {
  flex: 0 0 60%;
}

.home .home__photo {
  pointer-events: none;
  width: 100%;
  height: auto;
  position: relative;
  right: 10px;
  bottom: 10px;
}

.home .home__photo-background {
  background-image: url("../img/index/home/home_photo_background.png");
  width: 100%;
}

.home__switch-lang {
  display: flex;
  position: relative;
  top: 12px;
  flex: 0 0 auto;
  align-items: flex-start;
}

.menu__body .home__switch-lang {
  display: none;
}

.menu__body .home__switch-lang._active {
  display: flex;
  justify-content: flex-end;
  top: -30px;
}

.home__switch-lang .home__switch-title {
  transform: rotate(0.75turn);
}

.home__switch-lang .home__switch-title span {
  font-size: inherit;
  width: 100%;
}

.home__switch-lang .home__switch-title > a {
  font-family: TitilliumWeb-SemiBold;
  font-size: 16px;
  color: #070707;
  text-transform: uppercase;
}

.home__switch-lang .home__switch-title > a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.menu__body .home__switch-lang .home__switch-title > a {
  font-size: 30px;
}

/*-------- Home End -------*/

/*-------- About Me Start -------*/

.about-me {
  margin-bottom: 50px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.about-me .about-me__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 400px;
}

.about-me__title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  color: #070707;
  text-align: center;
  margin-bottom: 18px;
}

.about-me__text {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  color: #070707;
  text-align: center;
  margin-bottom: 50px;
}

.about-me__text:nth-last-child(1) {
  margin-bottom: 0;
}

/*-------- About Me End -------*/

/*-------- Skills Start -------*/

.skills .skills__position {
  margin: 100px 0;
  padding: 0 20px;
}

.skills .skills__title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  text-align: center;
  color: #070707;
  margin-bottom: 70px;
}

.skills .skills__subtitle {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #070707;
  margin-bottom: 80px;
}

.skills .skills__program-language {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills .skills__program-language .skills__info-item {
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.skills .skills__program-language .skills__info-item .skills__photo-item {
  margin-bottom: 25px;
}

.skills .skills__program-language .skills__info-item .skills__title-item {
  font-family: TitilliumWeb-Bold;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
  margin-bottom: 30px;
}

/*-------- Skills End -------*/

/*-------- Portfolio Start -------*/

.portfolio {
  background-color: #f6f6f6;
}

.portfolio .portfolio__position {
  padding: 100px 0;
}

.portfolio .portfolio__title {
  font-family: TitilliumWeb-Bold;
  font-size: 34px;
  color: #070707;
  margin-bottom: 47px;
  text-align: center;
}

.portfolio .portfolio__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.portfolio .portfolio__info:nth-last-child(1) {
  margin-bottom: 0;
}

.portfolio .portfolio__info .portfolio__photo-item {
  width: 100%;
  margin-bottom: 45px;
}

.portfolio .portfolio__info .portfolio__link-item {
  font-family: TitilliumWeb-SemiBold;
  font-size: 18px;
  line-height: 27px;
  color: #070707;
  margin-bottom: 47px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.portfolio .portfolio__info .portfolio__link-item:hover {
  -webkit-text-decoration-line: overline;
  text-decoration-line: overline;
}

/*-------- Portfolio End -------*/

/*-------- index End -------*/

@media (min-width: 768px) {
  .menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__link {
    height: 20px;
  }
}

@media (min-width: 1200px) {
  .header__container {
    padding: 0;
  }
}

@media (max-width: 1199px) {
  .home {
    padding-left: 20px;
  }

  .about-me .about-me__content {
    padding: 0 300px;
  }
}

@media (max-width: 991px) {
  .footer__container {
    grid-template-areas: "my-newsletter my-newsletter" "my-license my-license" "my-security-police my-security-police";
  }

  .footer {
    padding: 4em 5em;
  }

  .about-me .about-me__content {
    padding: 0 200px;
  }

  .skills .skills__program-language {
    justify-content: space-evenly;
  }

  .skills .skills__program-language .skills__info-item {
    flex: 0 0 33%;
  }
}

@media (max-width: 767px) {
  .header__logo {
    position: relative;
    z-index: 5;
    display: flex;
    flex: 0 0 auto;
    font-family: TitilliumWeb-Bold;
    font-size: 35px;
    color: #000000;
  }

  .menu__body {
    display: flex;
    flex-direction: column;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--header-bg-menu-icon-mobile);
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon::after {
    top: 100%;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    top: 49%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__icon._active::before,
  .menu__icon._active::after {
    background-color: var(--header-menu-link-color);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--header-bg-menu-body-mobile);
    padding: 100px 20px 20px 20px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--header-bg-color-mobile);
    z-index: 2;
  }

  .menu__list {
    margin: 0;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 30px 0 !important;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 35px;
    height: 55px;
  }

  .footer {
    padding: 2em 2em;
  }

  .home .home__info {
    flex: 0 0 100%;
    align-items: unset;
  }

  .home .home__title {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .home .home__text {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }

  .home .home__background {
    flex: 0 0 100%;
  }

  .home .home__photo {
    position: unset;
  }

  .home {
    padding-left: 20px;
    padding-right: 20px;
    margin: 120px 0 50px 0;
  }

  .home__switch-lang {
    display: none;
  }

  .about-me .about-me__content {
    padding: 0 100px;
  }

  .skills .skills__program-language {
    justify-content: center;
  }

  .skills .skills__program-language .skills__info-item {
    flex: 0 0 100%;
  }

  .skills .skills__program-language .skills__info-item:nth-last-child(1) {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .footer {
    padding: 2em 2em;
  }

  .about-me .about-me__content {
    padding: 0 20px;
  }
}
@supports (-webkit-appearance:none){
.home .home__photo-background{background-image:url("../img/index/home/home_photo_background.webp")}
}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1199px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 575px){

@supports (-webkit-appearance:none){

}

}
