doctype html
html(lang="en")
  include html/head
    //- link(href="css/style.min.css")
  body
    include html/_header_grid
    main.page
      h1 Hi!
      img(src="@img/cover.jpg")
    include html/_footer
    script(src="js/app.min.js")