/*---------------------------------------
All
----------------------------------------*/

* {
    font-family: 'Titillium Web', sans-serif;
}

/*Зміна кольору виділення*/
::selection {
    background: #1abc9c;
    color: #fff;
}


/*Для анімації кнопки*/
.button_anim:hover {
    transition: all .2s;
    animation: shadow .6s infinite linear;
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 10px 0 #53f6c7, 0 0 10px 0 #53f6c7;
    }
    100% {
        box-shadow: 0 0 8px 4px rgba(255, 48, 26, 0), 0 0 2px 20px rgba(255, 48, 26, 0);
    }
}

/*--------------------------------------
Header
---------------------------------------*/

ul a {
    border-radius: 5px;
}

nav ul a:hover {
    background-color: #53f6c7;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #53f6c7;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.75);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

.bg-black {
    background-color: #000000;
}

/* Show it's not fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

/*--------------------------------------
Home
---------------------------------------*/

#Main-Text {
    font-size: 60px;
}

span {
    color: #53f6c7;
}

.Text-HR:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #53f6c7;
}

.Text-HR_Ul:after {
    content: "";
    display: block;
    width: 90%;
    margin: auto auto;
    height: 1px;
    background-color: #ffffff;
}

.Text-HR_Contact:after {
    content: "";
    display: block;
    width: 100%;
    margin: 10px auto;
    height: 1px;
    background-color: #ffffff;
}

.Icon1:hover {
    color: #1e5645;
}

.btn-success {
    color: #fff;
    background-color: #212529;
    border-color: #000;
}

.btn-success:hover {
    color: #000000;
    background-color: #53f6c7;
    border-color: #000;
}

.bg-mint {
    background-color: #53f6c7;
}

/*Анімація для переключання полоски*/
.image-anim {
    position: relative;
    overflow: hidden;
    transition: all 0s ease-in-out;
}

.image-switch {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: all 0s ease-in-out;
}

.image-anim img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-switch-item {
    width: 50%; /*Міняє к-сть стовпців для відображення фото*/
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5px;
}

/*Для неактивної полоски*/
.image-switch-item::after {
    content: "";
    width: 90%;
    margin: 2px auto;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    z-index: 2;
    position: relative;
    transition: all 0s ease-in-out;
}

.switched-image {
    position: absolute;
    left: 50%;
    top: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0s ease-in-out; /*Зміна міняє швидкість переходу між фото*/
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    pointer-events: none;
}

.image-anim:hover .image-switch {
    opacity: 1;
    transition: all 0s ease-in-out;
}

.image-switch-item:hover .switched-image {
    transition: all 0s ease-in-out;
    opacity: 1;
    z-index: -1;
}

/*Для активної полоски*/
.image-switch-item:hover::after {
    background-color: #53f6c7;
    transition: all 0s ease-in-out;
}

/*--------------------------------------
AboutMe
---------------------------------------*/

ul li::marker {
    color: #53f6c7;
}

/*--------------------------------------
Project
---------------------------------------*/

/*Для задання збільшення зображення*/
.scale {
    display: inline-block; /*Рядково-блочний елемент*/
    overflow: hidden; /*Ховаємо все за контуром*/
}

.scale img {
    transition: 1s; /*Час ефекту*/
    display: block; /*Видаляємо невеликий відступ*/
}

.scale img:hover {
    transform: scale(1.2); /*Збільшення масштабу*/
}

/*--------------------------------------
Skills
---------------------------------------*/

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

/*--------------------------------------
ToContact
---------------------------------------*/
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #53f6c7;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #1abc9c
}

textarea {
    resize: vertical;
    max-height: 300px;
}

textarea.form-control {
    min-height: calc(2em + 4rem + 2px);
}

/*--------------------------------------
Footer
---------------------------------------*/

.bi {
    display: inline-block;
    vertical-align: -.125em;
}

.social-success:hover {
    color: #53f6c7;
}

/*--------------------------------------
Media
---------------------------------------*/

@media (min-width: 1201px) {
    ul a {
        width: 100px;
    }

}

@media (min-width: 993px) and (max-width: 1200px ) {
    ul a {
        width: 100px;
    }

}

@media (min-width: 769px) and (max-width: 992px ) {
    ul a {
        width: 100px;
    }

    #Main-Text {
        font-size: 50px
    }
}

@media (min-width: 576px) and (max-width: 768px ) {

    ul a {
        width: 80px;
        height: 60px;
    }

    #Main-Text {
        font-size: 45px
    }
}

@media (max-width: 575px) {

    .navbar-dark .navbar-brand {
        color: #000000;
    }

    .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
        color: #53f6c7;
    }

    .navbar-dark .navbar-nav .show > .nav-link,
    .navbar-dark .navbar-nav .nav-link.active {
        color: #000000;
    }

    .navbar-dark .navbar-toggler {
        color: #53f6c7;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    ul a:hover {
        background-color: #ffffff;
    }

    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
        color: #53f6c7;
    }

    .bg-black {
        background-color: #ffffff;
    }

    .fixed-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }

    /* Show it's not fixed to the top */
    body {
        min-height: 75rem;
        padding-top: 0;
    }

    #Main-Text {
        font-size: 32px
    }
}