:root {
  --header-width-container: 1408px;
  --header-bg-color: unset;
  --header-font-family: Poppins;
  --header-bg-color-mobile: #000;
  --header-bg-menu-body-mobile: #1f5e37;
  --header-bg-menu-icon-mobile: #ffffff;
  --header-menu-link-color: #ffffff;
}